@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/** Tailwindcss Light Mode Modifier */
@custom-variant light (html:not([data-theme="dark"]) &);

@theme {
  --border-grey: #404040;
}
